include ../mixins/mixins

doctype html
html(lang='ru')
  head
    title Главная
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(href='img/favicon.png', rel='shortcut icon', type='image/x-icon')
    include pug/includes/styles
  body
    //include pug/includes/svg.pug
    .wrapper
      h1 Hello!





    include pug/includes/scripts.pug