if config.resetCss
  +pasteStyles([[/./gi], ["reset-css"]])

if config.framework == "bootstrap"
  +pasteStyles([[/./gi], ["bootstrap"]])

if config.framework == "foundation"
  +pasteStyles([[/./gi], ["foundation-sites"]])

link(rel="stylesheet" href="css/main.css")